body {
    font-family: Helvetica;
}
header{
    background-color:#0065a4;
    display: grid;
    grid-template-columns: 93.75px 93.75px 93.75px 93.75px;}
.ham{
    height:30px;
    padding: 10px;
}
.logo{
    height: 50px;
    grid-row:1/3;
}
.menu{
    color: white; 
    font-weight: 100;
    font-size: 30px;
    text-align: left;
}
.search{
    color: white;
}
.line{
    border: 100px #0065a4;
}
h2{
    background-color: #0065a4;
    color: white;
    text-align: center;
    padding: 10px;
}
/*media queries*/
